<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal</title>
</head>
<body>
    <div class="main-main entry">
        <div>
            <textarea name="" id=""></textarea>
        </div>
        <div>
            <ul>

            </ul>
            <input type="text">
        </div>
    </div>
    <div class="review">

    </div>

    <!-- list of user entries -->
    <div class="entries">
        
    </div>
</body>
</html>